<!-- Hero Start -->
<section class="bg-half-170 pb-0 bg-light d-table w-100" id="home" style="background: url('assets/images/course/contact-detail.jpg')  center center ; background-repeat: no-repeat">
<!--
    <div class="bg-overlay"></div>
-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="title-heading text-center mt-4 mt-md-5 pt-md-5">
                    <div class="alert alert-light alert-pills" role="alert">
                        <span class="badge badge-pill badge-success mr-1">Commencez</span>
                        <span class="content"> Choisissez et <a routerLink="/page-job-apply" class="text-primary">Candidatez</a> maintenant
              !</span>
                    </div>

                    <h1 class="heading mb-3">
                        <ngx-typed-js [strings]="['Marketing', 'Développement Web', 'Comptabilité', 'Ressources humaines', 'Management, etc ...']"
                                      [shuffle]="true" [typeSpeed]="80" [loop]="true">
                            Offres en <span class="element text-primary typing"></span>
                        </ngx-typed-js>
                    </h1>
<!--
                    <p class="para-desc mx-auto text-muted">Voici pour vous des offres, Africaccess vous accompagne lors de votre recherche d'entreprise en alternance.</p>
-->
                    <form class="rounded p-4 mt-4 bg-white">
                        <div class="row text-left">
                            <div class="col-lg-5 col-md-4">
                                <div class="form-group mb-0">
                                    <select class="form-control custom-select">
                                        <option selected="">Domaine</option>
                                        <option value="AF">Comptabilité</option>
                                        <option value="AX">Informatique</option>
                                        <option value="AL">Réssources humaines</option>
                                        <option value="DZ">Banque et assurances</option>
                                    </select>
                                </div>
                            </div>
                            <!--end col-->

                            <div class="col-lg-7 col-md-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 mt-4 mt-sm-0">
                                        <div class="form-group mb-0">
                                            <select class="form-control custom-select">
                                                <option selected="">Niveau d'étude</option>
                                                <option value="4">Niveau 7 (BAC +7)</option>
                                                <option value="5">Niveau 6 (BAC +3)</option>
                                                <option value="6">Niveau 5 (BAC +2)</option>
                                                <option value="7">Niveau 4 (BAC PRO)</option>
                                                <option value="8">Niveau 4 (BAC)</option>
                                                <option value="9">Niveau 4 (Brevet Professionnel)</option>
                                                <option value="10">Niveau 3 (CAP)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-md-4 mt-4 mt-sm-0">
                                        <div class="form-group mb-0">
                                            <select class="form-control custom-select">
                                                <option selected="">Lieu</option>
                                                <option value="4">Douala-Akwa</option>
                                                <option value="1">Douala-Makepe</option>
                                                <option value="3">Douala-Bonapriso</option>
                                                <option value="5">Yaoundé</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-md-4 mt-4 mt-sm-0">
                                        <input type="submit" id="search" name="search" class="searchbtn btn btn-primary btn-block p"
                                               value="Rechercher">
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!---end col-->
                        </div>
                        <!--end row-->
                    </form>
                  <!--  <p class="text-muted mb-0 mt-4"><span class="text-dark">Keywords :</span> Web Developer, Web Designer, Php
                        Developer, IOS Developer, etc...</p>-->
                </div>
            </div>
            <!--end col-->

<!--            <div class="col-12 mt-4 pt-3">
                <img src="assets/images/job/home.png" class="img-fluid" alt="">
            </div>-->
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Start -->
<section class="section">
<!--
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Popular Catagories</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Start working with <span
                            class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
                        awareness, drive traffic, connect.</p>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;
        </div>
        &lt;!&ndash;end row&ndash;&gt;

        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/1.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Communications</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/2.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Accounting</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/3.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Restaurant</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/4.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Health</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/5.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Finance</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/6.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Facilities</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/7.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">HR</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card catagories overflow-hidden rounded shadow border-0">
                    <img src="assets/images/work/8.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between mb-0">
                            <li><a href="javascript:void(0)" class="title h6 text-dark">Construction</a></li>
                            <li class="h6 mb-0 jobs">125 Jobs</li>
                        </ul>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;
        </div>
        &lt;!&ndash;end row&ndash;&gt;
    </div>
-->
    <!--end container-->

    <!-- Companies Start -->
    <div class="container mt-10 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Offres en alternance</h4>
                    <p class="text-muted para-desc mx-auto mb-0" *ngIf="alternances.length>0">Découvrez nos offres en alternance et soumettez votre candidature</p>
                    <p class="text-muted para-desc mx-auto mb-0" *ngIf="alternances.length==0 ">Aucune offre disposible pour le moment!</p>
                    <p class="text-muted para-desc mx-auto mb-0" *ngIf="alternancesFilter.length==0 && alternances.length>0 ">Aucune offre disposible pour ces critères!</p>
                    <img *ngIf="alternances.length==0 || alternancesFilter.length ==0" src="assets/images/emptyf.gif" width="35%" >

                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">



            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let o of alternancesFilter" >
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/full.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', o.id, 'details']"  class="text-dark">
                            {{o.intitule }}</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-success badge-pill">Alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Circleci.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name"> Africaccess </a></h5>
                            <p class="text-muted"><a
                                    href="#"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Sable Bonamoussadi
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                 {{o.niveauQualification}}
                            </li>
                            <br>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                 {{o.lieuDeTravail}}
                            </li><br>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                <span *ngIf="o.remuneration"> Rémunération (FCFA)  {{o.remuneration}}</span>
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', o.id, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/full.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Web Developer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-success badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Codepen.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Codepen</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, AKWA
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/part.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">UX Designer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-warning badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Discord.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Discord</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/full.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">UI Designer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-success badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Eslint.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Eslint</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div [routerLink]="['/alternances', 2, 'details']"  class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/remote.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Back-End Developer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-danger badge-pill">En Alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Gitlab.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Gitlab</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/part.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Photographer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-warning badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Gradle.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Gradle</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/full.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Mechanic</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-success badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Mg.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Mg</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/part.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Frontend Developer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-warning badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Sketch.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Sketch</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/remote.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Web Designer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-danger badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Twilio.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Twilio</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/part.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Php Developer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-warning badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Udemy.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Udemy</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/full.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Web Designer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-success badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Webhooks.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">Webhooks</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Douala, Bonapriso
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->

<!--
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                    <div class="border-bottom">
                        <div class="position-relative">
                            <img src="assets/images/job/remote.jpg" class="img-fluid" alt="">
                            <div class="job-overlay bg-white"></div>
                        </div>
                        <h5 class="mb-0 position"><a [routerLink]="['/alternances', 2, 'details']" class="text-dark">Python Developer</a>
                            <ul class="list-unstyled h6 mb-0 text-warning">
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </h5>
                        <ul class="list-unstyled head mb-0">
                            <li class="badge badge-danger badge-pill">En alternance</li>
                        </ul>
                    </div>

                    <div class="card-body content position-relative">
                        <div class="firm-logo rounded-circle shadow bg-light text-center">
                            <img src="assets/images/job/Circleci.svg" class="avatar avatar-md-sm" alt="">
                        </div>
                        <div class="company-detail text-center mt-3">
                            <h5 class="mb-0"><a routerLink="/page-job-company" class="text-dark company-name">CircleCi</a></h5>
                            <p class="text-muted"><a
                                    href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
                                    class="video-play-icon text-muted">
                                <i-feather name="map-pin" class="fea icon-sm"></i-feather>
                                Yaoundé
                            </a></p>
                        </div>
                        <ul class="job-facts list-unstyled">
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                2 années d'expérience
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Heures de travail- 6hr
                            </li>
                            <li class="list-inline-item text-muted">
                                <i-feather name="check" class="fea icon-sm text-success mr-1"></i-feather>
                                Informations stratégique
                            </li>
                        </ul>
                        <a [routerLink]="['/alternances', 2, 'details']" class="btn btn-outline-primary btn-block">Postuler maintenant</a>
                    </div>
                </div>
            </div>
-->
            <!--end col-->














        <!--    <div class="col-12 text-center mt-4 pt-2">
                <a routerLink="/page-jobs" class="btn btn-primary">Voir toutes les offres <i class="mdi mdi-chevron-right"></i></a>
            </div>-->
        </div>
        <!--end row-->


<!--        <div *ngIf="alternancesFilter.length==0 && alternances.length > 0"align="center">
            <img src="assets/images/emptyf.gif" width="35%" >
        </div>
        <div *ngIf="alternances.length==0"align="center">
            <img src="assets/images/emptyf.gif" width="35%" >
        </div>-->
    </div>
    <!--end container-->
    <!-- Companies End -->

    <!-- Candidates Start -->
    <!--end container-->
    <!-- Candidates End -->

    <!-- Testi start -->
    <!--end container-->
    <!--end container-->
    <!-- Testi end -->


</section>
<!--end section-->
<!-- End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->


<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
   [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
