<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home" style="background: url('assets/images/course/19.jpg')  center center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> L’Alternance pour monter en compétences
                    </h4>
<!--                    <ul class="list-unstyled mt-4">
                        <li class="list-inline-item h6 date text-muted"> <span class="text-dark">Last Revised :</span> 23th Sep,
                            2019</li>
                    </ul>-->
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a routerLink="/">Africaccess</a></li>
                                <li class="breadcrumb-item"><a href="/services">Services</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Alternance</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Start Privacy -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h5 class="card-title">L'alternance :</h5>
                        <p class="text-muted">A Africaccess notre objectif est de mettre en application ses compétences tout au long de son parcours et de devenir rapidement un vrai professionnel en intégrant une entreprise.</p>
                        <p class="text-muted">Il est donc possible de suivre sa formation en alternance en prépa mastère, 2ème ou 3ème année de Bachelor selon la ville où vous suivrez votre formation et durant les deux années de Mastère.</p>
                        <p class="text-muted">Vous aurez ainsi l'opportunité de mettre en pratique concrètement les compétences acquises au cours de votre formation.</p>
<p class="text-muted">Les fonctions occupées en entreprise sont diverses : social media manager, consultant SEO – SEA, chargé de communication digitale, traffic manager, vidéaste web, motion designer, marketing business analyst, développeur font-end, développeur back –end, développeur full stack, concepteur et développeur mobile, UX designer, UI designer junior, graphiste web, web designer, et d’autres métiers à venir.</p>
<p class="text-muted">Africaccess vous accompagne lors de votre recherche d'entreprise en alternance :

</p>
                        <a href="javascript:void(0)" (click)="seeOffers()" class="btn btn-primary">Voir nos offres en alternances</a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Privacy -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
   [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
