<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home" style="background: url('assets/images/course/bg.png')  center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title text-white-50"> Présentation de Africaccess </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a routerLink="/index">Africaccess</a></li>
                                <li class="breadcrumb-item"><a href="#">A propos</a></li>
                                <li class="breadcrumb-item active"><a href="#">Présentation</a></li>
<!--
                                <li class="breadcrumb-item active" aria-current="page">Terms</li>
-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Start Terms & Conditions -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow border-0 rounded">
                    <div class="card-body">
                        <h5 class="card-title">Africaccess </h5>
                        <p class="text-muted">
                            Nous sommes une plate forme d’échange, de partage. Nous sommes un réseau interactif en constante évolution regroupant plus de 20 000 étudiants et grandes écoles en locale comme à l’international.
                            Offrant à tous, notamment aux Africains des outils pédagogiques et académique afin de bénéficier d’un ensemble de formations diplomantes, qualifiantes et certifiantes en distanciel non accessible à ce jour sur le territoire.                        </p>
<!--
                        <h5 class="card-title">User Agreements :</h5>
-->

                        <h5 class="card-title">Notre mission</h5>
<p class="list-unstyled text-muted">
                            Réduire les inégalités liés a la connaissance, à la formation et la montée en compétence entre ceux ayant les moyens d’aller se former à l’exterieur et ceux se formant au national.
                            Permettre aux Ecoles supérieurs de proposer un plus large éventails de formations spécifiques en rapport avec les besoins du marché de l’emploi
                            Permettre aux entreprises de recruter un personnel qualifié et formé sur des thématiques en rapport avec leur problématiques et besoin au quotidien

                            Vous êtes à l’affût des dernières innovations et vous aimeriez participer à leurs développements ?<br>
                            Vous bouillonnez d’idées et avez soif d’entreprendre, de vous développez personnellement et collectivement ?<br>
                            Vous désirez vous formez ou que vous soyez, à votre rythme et valider des diplômes reconnu dans plus de 250 pays à travers le monde ?
</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Connecter 1 000 Ecoles supérieur de formations professionnel au réseau Africaccess d’ici 2022
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Recruter 100 000 entreprises partenaires à notre projet
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Permettre à 10 000 apprenants chaque année d’obtenir un diplôme mondialement reconnu et un emploi à la clé
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Développer un espace privilégier entre entreprises et écoles pour la recherche des talents, la formation des apprenants et les montées en compétences
                            </li>
                        </ul>

                        <h5 class="card-title">Nos Objectifs</h5>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Connecter 1 000 Ecoles supérieur de formations professionnel au réseau Africaccess d’ici 2022
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Recruter 100 000 entreprises partenaires à notre projet
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Permettre à 10 000 apprenants chaque année d’obtenir un diplôme mondialement reconnu et un emploi à la clé
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Développer un espace privilégier entre entreprises et écoles pour la recherche des talents, la formation des apprenants et les montées en compétences
                            </li>
                    </ul>

<!--
                        <ul class="list-unstyled text-muted">
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Digital Marketing Solutions for Tomorrow
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Our Talented & Experienced Marketing Agency
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Create your own skin to match your brand
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Digital Marketing Solutions for Tomorrow
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Our Talented & Experienced Marketing Agency
                            </li>
                            <li>
                                <i-feather name="arrow-right" class="fea icon-sm mr-2"></i-feather>
                                Create your own skin to match your brand
                            </li>
                        </ul>
-->

<!--
                        <h5 class="card-title">Users Question & Answer :</h5>
-->
<!--
                        <div class="faq-content mt-4">
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <div class="border-0 bg-light text-dark" id="headingone">
                                            <h6 class="title mb-0"> Vous êtes créatif, ingénieux et curieux ? </h6>
                                            <h6 class="title mb-0"> Vous êtes à l’affût des dernières innovations et vous aimeriez participer à leurs développements ? </h6>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <div class="border-0 bg-light text-dark" id="headingone">
                                            <h6 class="title mb-0"> Vous êtes à l’affût des dernières innovations et vous aimeriez participer à leurs développements ? </h6>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <div class="border-0 bg-light text-dark" id="headingfour">
                                            <h6 class="title mb-0"> How to make unlimited data entry ? </h6>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available,
                                            but
                                            the majority have suffered alteration in some form.</p>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <div class="border-0 bg-light text-dark" id="headingfive">
                                            <h6 class="title mb-0"> Is <span class="text-primary">Landrick</span> safer to use with my
                                                account ?
                                            </h6>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available,
                                            but
                                            the majority have suffered alteration in some form.</p>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <div class="border-0 bg-light text-dark" id="headingfive">
                                            <h6 class="title mb-0"> How can i contact your technical team ?
                                            </h6>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <p class="text-muted mb-0 faq-ans">There are many variations of passages of Lorem Ipsum available,
                                            but
                                            the majority have suffered alteration in some form.</p>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
-->

                        <div class="mt-3">
                            <a href="javascript:void(0)" routerLink="/formations" class="btn btn-primary mt-2 mr-2">Explorez nos formations</a>
                            <a href="javascript:void(0)" routerLink="/contact" class="btn btn-outline-primary mt-2">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- End Terms & Conditions -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
   [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
