<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> Nos Services </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a routerLink="/">Africaccess</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#">Nos Services</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Feature Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="features mt-5">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/pen.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Formations diplomantes 100% en ligne</h4>
                        <p class="text-muted mb-0">Nous vous proposons des formations dans plusieurs domaine, selon votre nivéau d'étude et la durée qui vous convient.</p>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-5">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/video.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Logement étudiant</h4>
                        <p class="text-muted mb-0">Nous accompagnons les étudiants dans la recherche du logement de leur souhait.</p>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-5">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/intellectual.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Aide à la mobilité Estudiantine</h4>
                        <p class="text-muted mb-0">Nous vous accompagnons selon le procédé suivant: étude de dossiers et orientation vers la bonne université, inscription et négociation tarifaire du coût des études, assistance pour les formalités administratives et de visa étudiant, proposition et gestion d’hébergement, compte rendu semestriel remis aux parents (pour les étudiants mineurs).</p>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-5">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/user.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Assistance & conseil d'orientation</h4>
                        <p class="text-muted mb-0">Africaccess est le lieu indiqué pour obtenir la bonne information sur les métiers et les formations
                            .</p>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-5">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/calendar.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Equivalence de diplome</h4>
                        <p class="text-muted mb-0">
                            Une équivalence de vos diplôme de fin de secondaire pour entamer ou poursuivre des études supérieures de 1e cycle (bachelier) en Europe.
                            Soumettez nous vos demande d'équivalence de diplome
                            .</p>

                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-4 col-12 mt-5">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="assets/images/icon/sand-clock.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Contrats en alternance</h4>
                        <p class="text-muted mb-0">Pour vous permettre de monter en compétences
                            et de mettre en application ces compétences tout au long de votre parcours afin de devenir rapidement un vrai professionnel en intégrant une entreprise.</p>
                        <a href="javascript:void(0)" routerLink="/contrats-alternance" class="text-primary h6">Voir plus
                            <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
                        </a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>

</section>
<!--end section-->
<!-- Feature Start -->

<!-- Project Start -->
<!--
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Quelques logements sollicités par nos étudiants</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Logements pour étudiant en France. <span
                            class="text-primary font-weight-bold">Africaccess</span> Nous mettons notre expérience à votre profit, pour
                        vous accompagner dans la réalisation de vos objectifs d'étude à l'étranger.
                    </p>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;
        </div>
        &lt;!&ndash;end row&ndash;&gt;

        <div class="row">
            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                    <div class="card-body p-0">
                        <img src="assets/images/work/1.jpg" class="img-fluid rounded" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="page-work-detail" class="title text-white d-block font-weight-bold">Pour un tudiant provenant du Cameroun</a>
                            <small class="text-light">Studio</small>
                        </div>
                        <div class="client">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13 Aout, 2019</small>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                    <div class="card-body p-0">
                        <img src="assets/images/work/2.jpg" class="img-fluid rounded" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="page-work-detail" class="title text-white d-block font-weight-bold"> Pour un étudiant provenant du Tchad</a>
                            <small class="text-light"></small>
                        </div>
                        <div class="client">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> Nakiri Jordan</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13 Juin, 2019</small>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                    <div class="card-body p-0">
                        <img src="assets/images/work/3.jpg" class="img-fluid rounded" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="page-work-detail" class="title text-white d-block font-weight-bold">Spa Cosmetics</a>
                            <small class="text-light">Developing</small>
                        </div>
                        <div class="client">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;

            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                    <div class="card-body p-0">
                        <img src="assets/images/work/4.jpg" class="img-fluid rounded" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a href="page-work-detail" class="title text-white d-block font-weight-bold">Riser Coffee</a>
                            <small class="text-light">Branding</small>
                        </div>
                        <div class="client">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;
        </div>
        &lt;!&ndash;end row&ndash;&gt;
    </div>
    &lt;!&ndash;end container&ndash;&gt;

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-4">Etes vous intéressé par l'un de nos services ?.</h4>
                    <p class="text-muted para-desc mx-auto"> Conctez-nous, nous sommes à votre disposition.  <span
                            class="text-primary font-weight-bold"> Africaccess</span>.</p>

                    <div class="mt-4">
                        <a href="javascript:void(0)" routerLink="/contact" class="btn btn-primary mt-2 mr-2">Contactez nous maintenant</a>
                        <a href="javascript:void(0)" routerLink="/formations" class="btn btn-outline-primary mt-2">Voir nos formations</a>
                    </div>
                </div>
            </div>
            &lt;!&ndash;end col&ndash;&gt;
        </div>
        &lt;!&ndash;end row&ndash;&gt;
    </div>
    &lt;!&ndash;end container&ndash;&gt;
</section>
-->
<!--end section-->
<!-- Project End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
   [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
