<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/" class="btn btn-icon btn-soft-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="mr-lg-5">
          <img src="assets/images/signup-afr.gif" class="img-fluid d-block mx-auto" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card login_page shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Créer un compte Africaccess</h4>
            <form class="login-form mt-4" [formGroup]="registerForm" (ngSubmit)="registration()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Nom <span class="text-danger">*</span></label>
                    <i-feather name="user" class="fea icon-sm icons"></i-feather>
                    <input type="text" class="form-control pl-5" placeholder="Nom"   formControlName="nom" required="">
                  </div>
                  <div *ngIf="(registerForm.invalid && registerForm.get('nom')?.dirty) || (registerForm.get('nom')?.touched || submitted)">
                    <small *ngIf="registerForm.get('nom')?.hasError('required')" class="text-danger">Le nom est requis</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Prénom <span class="text-danger">*</span></label>
                    <i-feather name="user-check" class="fea icon-sm icons"></i-feather>
                    <input type="text" class="form-control pl-5" placeholder="Votre prénom" formControlName="prenom" required="">
                  </div>
                  <div *ngIf="(registerForm.invalid && registerForm.get('prenom')?.dirty) || (registerForm.get('prenom')?.touched || submitted)">
                    <small *ngIf="registerForm.get('prenom')?.hasError('required')" class="text-danger">Le prénom est requis</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Votre adresse email <span class="text-danger">*</span></label>
                    <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                    <input type="email" class="form-control pl-5" placeholder="Adresse email" formControlName="email" required="">
                  </div>
                  <div *ngIf="(registerForm.invalid && registerForm.get('email')?.dirty) || (registerForm.get('email')?.touched || submitted)">
                    <small *ngIf="registerForm.get('email')?.hasError('required')" class="text-danger">L'adresse email est requise</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Mot de passe <span class="text-danger">*</span></label>
                    <i-feather name="key" class="fea icon-sm icons"></i-feather>
                    <input type="password" class="form-control pl-5" formControlName="password" placeholder="mot de passe" required="">
                  </div>
                  <div *ngIf="(registerForm.invalid && registerForm.get('password')?.dirty) || (registerForm.get('password')?.touched || submitted)">
                    <small *ngIf="registerForm.get('password')?.hasError('required')" class="text-danger">Le mot de passe est requis</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">J'accepte les <a href="#"
                          class="text-primary">Termes & Conditions</a></label>
                    </div>
                  </div>
                </div>

                <div class="col-12 mb-0 pb-0" *ngIf="send && !success">
                  <div class="row justify-content-center">
                    <img src="assets/images/loading.gif" class="img-fluid" width="150" height="150" alt="loading">
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" type="submit">Créer le compte</button>
                </div>
<!--
                <div class="col-lg-12 mt-4 text-center">
                  <h6>Or Signup With</h6>
                  <ul class="list-unstyled social-icon mb-0 mt-3">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="facebook" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="github" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="twitter" class="fea icon-sm icons"></i-feather>
                      </a></li>
                    <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
                        <i-feather name="gitlab" class="fea icon-sm icons"></i-feather>
                      </a></li>
                  </ul>
                  &lt;!&ndash;end icon&ndash;&gt;
                </div>
-->
                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark mr-2">Avez-vous déjà un compte ?</small> <a
                      routerLink="/auth-login" class="text-dark font-weight-bold">Se connecter</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
