 <!-- Footer Start -->
 <footer class="footer">
   <div class="container">
     <div class="row">
       <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
         <a href="#" class="logo-footer">
           <img src="assets/images/logo-light.png" height="55" alt="">
         </a>
         <p class="mt-4">Pour permettre aux Africains de tout bord de bénéficier des formations à l'étranger avec un niveau d'accéssibilité
           élévé et sans contrainte, grace à notre soutien. </p>
         <ul class="list-unstyled social-icon social mb-0 mt-4">
           <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
               <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
             </a></li>
           <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
               <i-feather name="instagram" class="fea icon-sm fea-social"></i-feather>
             </a></li>
           <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
               <i-feather name="twitter" class="fea icon-sm fea-social"></i-feather>
             </a></li>
           <li class="list-inline-item ml-1"><a href="javascript:void(0)" class="rounded">
               <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
             </a></li>
         </ul>
         <!--end icon-->
       </div>
       <!--end col-->

       <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <h4 class="text-light footer-head">Africaccess</h4>
         <ul class="list-unstyled footer-list mt-4">
           <li><a routerLink="/presentation" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Qui sommes-nous</a>
           </li>
           <li><a routerLink="/services" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Services</a>
           </li>
           <li><a routerLink="/offres-en-alternance" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Alternance</a>
           </li>
           <li><a routerLink="/contact" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
               Contact</a></li>

         </ul>
       </div>
       <!--end col-->

       <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <h4 class="text-light footer-head">Liens utiles</h4>
         <ul class="list-unstyled footer-list mt-4">
           <li><a routerLink="/page-terms" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Termes & Conditions </a>
           </li>
           <li><a routerLink="/page-privacy" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Politique de confidentialité </a>
           </li>
           <li><a routerLink="/formations" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
               Formations</a>
           </li>
         </ul>
       </div>
       <!--end col-->

       <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <h4 class="text-light footer-head">Newsletter</h4>
         <p class="mt-4">Abonnez-vous est recevez les informations utilent par mail.</p>
         <form [formGroup]="contactForm" (ngSubmit)="subscribe()">
           <div class="row">
             <div class="col-lg-12">
               <div class="foot-subscribe form-group position-relative">
                 <label>Entrez votre adresse email <span class="text-danger">*</span></label>
                 <i data-feather="mail" class="fea icon-sm icons"></i>
                 <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                 <input type="email" name="email" id="emailsubscribe" formControlName="email" class="form-control pl-5 rounded"
                   placeholder="Votre adresse email : " required>
               </div>
               <div *ngIf="(contactForm.invalid && contactForm.get('email')?.dirty) || (contactForm.get('email')?.touched || submitted)" >
                 <small *ngIf="contactForm.get('email')?.hasError('required')" class="text-danger">
                   L'adresse email est requise
                 </small>
               </div>
             </div>
             <div class="col-lg-12" *ngIf="!send">
               <input type="submit"  id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block"
                 value="S'abonner">
             </div>

             <div class="col-12 mb-0 pb-0" *ngIf="send">
               <div class="row justify-content-center">
                 <img src="assets/images/loading.gif" class="img-fluid" width="150" height="150" alt="loading">
               </div>
             </div>

           </div>
         </form>
       </div>
       <!--end col-->
     </div>
     <!--end row-->
   </div>
   <!--end container-->
 </footer>
 <!--end footer-->
 <footer class="footer footer-bar">
   <div class="container text-center">
     <div class="row align-items-center">
       <div class="col-sm-6">
         <div class="text-sm-left">
           <p class="mb-0">© 2021 Africaccess
   <!--          <i class="mdi mdi-heart text-danger"></i>
             <a
               href="#" target="_blank" class="text-reset"></a>.-->
           </p>
         </div>
       </div>
       <!--end col-->

       <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <ul class="list-unstyled text-sm-right mb-0">

          <!-- <li class="list-inline-item ml-1"><a href="javascript:void(0)"><img src="assets/images/payments/paypal.png"
                 class="avatar avatar-ex-sm" title="Paypal" alt=""></a>
           </li>
           <li class="list-inline-item ml-1"><a href="javascript:void(0)"><img src="assets/images/payments/visa.png"
                 class="avatar avatar-ex-sm" title="Visa" alt=""></a>
           </li>-->
         </ul>
       </div>
       <!--end col-->
     </div>
     <!--end row-->
   </div>
   <!--end container-->
 </footer>
 <!--end footer-->
 <!-- Footer End -->
